body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #efefef;
    color: #1e244d;
    font-family: Metropolis, Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;

}




.flexbox-titulo-logo {
    color: antiquewhite;
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    font-size: 80px;
}


.flexbox-subtitulo {
    color: antiquewhite;
    align-items: center;
    display: flex;
    height:15vw;
    justify-content: center;
    font-size: 3vw;
    background-size: cover;
}
.flexbox-parrafo {
    color: antiquewhite;
    align-items: center;
    height: auto;
    justify-content: center;
    font-size: 1.5vw;
    background-size: cover;
}
.contenedor-portada{
    background-image: url("../image/image-02.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 25vw;
    width: auto;
}

.contenedor-fondo {
    background-image: url("../image/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}





.fondo{
    background-color: white;
    opacity: 50%;
}

.center{
    margin: 0 auto;
    width: auto;
    display: block;
}

.color-1{
    background-color: #731f19;
    color: white;
}

.redondeo{
    border-radius: 10px;



}



.responsivo{
    width: 100%;
    height: 100%;
}


.card-text{
    font-size: 1.5vw;
}

.accordion-button{
    font-size: 1.5vw;
}

.card-title{
    font-size: 1.5vw;
}

html, body {
    width: 100%!important;
    overflow-x: hidden!important;
}



.datos-ultimos{
    background-color: gray;
    height: 100%;
    width: 100%;
    color: black;

    font-size: 2vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
.datos-ultimos2{
    font-size: 2vw;
    background-color: dimgray;
    height: 5vw;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;

}

.responsivo2{
    height: 3vw;
    width: 3vw;
}
